PORT=5001
DATABASE_URL=postgres://user:password@localhost:5432/phone_cover_platform
JWT_SECRET=your_jwt_secret_here
OTP_EXPIRY=5
NODE_ENV=development
AISENSY_API_KEY=your_aisensy_api_key_here
AISENSY_PROJECT_ID=your_aisensy_project_id_here
RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxx
RAZORPAY_KEY_SECRET=test_secret_xxxxxxxxxxxxxxxxxxxx

GOOGLE_CLIENT_ID=your_google_client_id_here
